

.signup-grid{


}

.background{
  background-color: #E6F4F1;
  height: 1000px;
}


.auth-page {
    background-color: #43AAA7;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;

}



.authpage-info{
    align-items: center;
    justify-content: center;
    
}

.auth-forms{
  margin: 0 0 10px 0;
}

.authpage-title{
  font-family: 'Damion', cursive;
  font-size: 80px;
  margin: 20px auto;
  
}

.auth-logo {
  margin: 30px auto 0 auto;
  width: 100px;
}
  

.user-options{

  display: inline;
  background-color: #E6F4F1;
}

.user-options-link{
  
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;

}

.user-options-link:hover{
  text-decoration: underline;
  text-decoration-color: #F6AFB7;
  text-decoration-thickness: 3px;
  transition-duration: 0.3s;
}

