.NewGiftForm {
    /* text-align: left; */
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: inline-block;
    width: 400px;
    background-color: #43AAA7;
    padding: 20px;
    border-radius: 10px;
    outline:2px solid #F94849;
}

.relationOptions {
    width: 149px;
    /* padding: 1px 2px; */
    /* border: 2px; */
}

h3 {
    margin: 0 0 10px 0;
    
}
input, select {
    margin: 5px 0
    
}

button {
    margin: 10px 0 0 0;
    border-radius: 5px;
    border: none
}