.pagebody{
    background-color: #e8e5e5;
}

table {
    margin: 0 auto;
    box-shadow: 3px 3px 3px lightgray;
    
}

tr{
    margin: 0 auto;

}

.storeLink {
    width: 200px;
}

th {
    width: 150px;
    background-color: #51A598;
    color: white;
}

.checkbox {
    background-color: black;
}

.checkbox:checked::after{
    background-color: #43AAA7;

}

.main input:checked ~ .checkbox {
    background-color: green;
}


h1{
    font-family: 'Damion', cursive;
    font-size: 64px;
  /* width:400px; */
  margin:0;
  opacity: 100% !important;
  text-shadow: 2px 2px 5px white;
  /* background-color: #EFEFEF; */
}

.img{
    background-color: #E4E4E4;
    
    background-repeat:repeat;
background-size:500px;
max-height: 100vh;

background-image: url("https://i.imgur.com/FuvvJaC.jpg");

border-bottom: 5px solid #d33434;
}


hr{
    color: #d33434;
}