signup-grid{
    display: grid;
    /* grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr); */
}

.SignupForm {
    /* text-align: left; */
    margin: 0 auto;
    /* justify-content:right; */
    align-items: center;
    display: inline-block;
    width: 300px;
    background-color: #a9e5de;
    padding: 20px;
    grid-column-start: 4;
    grid-column-end: five;
    grid-row-start: row2-start;
    grid-row-end:5;
}

div{
    background-image: url("https://unsplash.com/photos/x2lm26Rs2PM");
}