.home-title{
    margin: 50px 0 20px 0;
}

.quote-background{
    width: 500px;
    height: 300px;
    background-color: #51A598;
    border-radius: 30px;
    /* border: 2px solid orange; */
    margin: 0 auto;
}

.shopping-quote{
    font-weight:0;
    color:white;
    font-size: 30px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content:space-between;
   
    padding:  30px 20px 0 20px;
}

.home-img{
    width:300px;
    display: inline-block;
}

.gift-link{
    color:#a51a1a;
    font-weight: 600;
    margin: 70px 0;
    font-size: 20px;
}

.gift-link:hover{
    color:#d33434;
    font-weight: 600;
    margin: 70px 0;
    font-size: 20px;
}